<!DOCTYPE html> 
<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
            <link rel="stylesheet" th:href="@{/css/style.css}" />

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Funcionando</h1>
        </header>
        
        
       <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
       <script th:src="@{/js/script.js}"></script>
    </body>
</html>
